<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="DefaultAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p [%-22.22t] - %m%n"/>
        </layout>
    </appender>

    <logger name="com.kineticdata.logging.ParameterValueReporter" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="DefaultAppender"/>
    </logger>
</log4j:configuration>
